/* client/public/css/styles.css */

/* CSS Reset (minimal) */
body, h1, h2, h3, p, ul, li, form, input, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    line-height: 1;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #f9f9f9; /* Light Grey */
    color: #333; /* Dark Grey */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
}

/* General Styling */
.App {
    text-align: center;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 15px;
    color: inherit; /* Inherit color from App-header */
    letter-spacing: 1px; /* Spacing between letters */
    font-weight: 600; /* Slightly bolder */
}

main {
    padding: 20px;
    min-height: 60vh; /* Minimum height */
}
